<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/about.js" defer></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/about.css" />

    <link rel="icon" href="/favicon.ico">

</head>
<body>
<!-- The video -->
<video autoplay muted loop id="myVideo">
    <source src="/ISS Time-lapse.mp4" type="video/mp4">
</video>

<!-- Optional: some overlay text to describe the video -->
<div class="content">
    <a id="myBtn" onclick="pauseFunction()" class="btn-floating btn-large waves-effect waves-light black"><i class="material-icons" style="font-size: 6vh;">pause</i></a>

    <p class="content-title">A munkacsoport tagjai</p>
    <div class="container">
        <div class="row">
            <div class="card col s12 m12 l5 xl5">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator card-img" src="/andrea_stradi.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Dr. Strádi Andrea<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">ímélcíme</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Dr. Strádi Andrea<i class="material-icons right">close</i></span>
                    <p>Mindenért is felelős de hát ha egyszer jól csinálja!</p>
                </div>
            </div>
            <div class="col s2"></div>
            <div class="card col s12 m12 l5 xl5">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator card-img" src="/andrea_stradi.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Dr. Strádi Andrea<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">ímélcíme</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Dr. Strádi Andrea<i class="material-icons right">close</i></span>
                    <p>Mindenért is felelős de hát ha egyszer jól csinálja!</p>
                </div>
            </div>
            <div class="col s1"></div>
            <div class="card col s12 m12 l5 xl3">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator card-img" src="/andrea_stradi.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Dr. Strádi Andrea<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">ímélcíme</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Dr. Strádi Andrea<i class="material-icons right">close</i></span>
                    <p>Mindenért is felelős de hát ha egyszer jól csinálja!</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>