<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/about.js" defer></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/about.css" />

    <link rel="icon" href="/favicon.ico">

</head>
<body>
<!-- The video -->
<video autoplay muted loop id="myVideo">
    <source src="/ISS Time-lapse.mp4" type="video/mp4">
</video>

<!-- Optional: some overlay text to describe the video -->
<div class="content">
    <a id="myBtn" onclick="pauseFunction()" class="btn-floating btn-large waves-effect waves-light black"><i class="material-icons" style="font-size: 6vh;">pause</i></a>

    <p class="content-title">A munkacsoport tagjai</p>
    <div class="container">
        <div class="row">
            <div class="card-bracket col s12 m12 l6 xl4 w3-animate-bottom">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator card-img" src="/andrea_stradi.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Dr. Strádi </span>
                        <span><i class="material-icons right card-title activator grey-text text-darken-4">more_vert</i></span>
                        <span class="card-title activator grey-text text-darken-4" style="display: block !important;">Andrea</span>

                        <div class="email-and-description"><a class="material-icons email-icon" href="#">mail_outline</a><span class="short-description">Űrdozimetria</span></div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Dr. Strádi Andrea<i class="material-icons right">close</i></span>
                        <p>Csoportunk vezetője.</p>
                    </div>
                </div>
            </div>
            <div class="card-bracket col s12 m12 l6 xl4 w3-animate-bottom">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator card-img" src="/andras_ordasi.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Ordasi </span>
                        <span><i class="material-icons right card-title activator grey-text text-darken-4">more_vert</i></span>
                        <span class="card-title activator grey-text text-darken-4" style="display: block !important;">András</span>

                        <div class="email-and-description"><a class="material-icons email-icon" href="#">mail_outline</a><span class="short-description">Chillagász</span></div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Ordasi András<i class="material-icons right">close</i></span>
                        <p>Astroquiznightra gyere!</p>
                    </div>
                </div>
            </div>
            <div class="card-bracket col s12 m12 l6 xl4 w3-animate-bottom">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator card-img" src="/bela_hegyesi.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Hegyesi </span>
                        <span><i class="material-icons right card-title activator grey-text text-darken-4">more_vert</i></span>
                        <span class="card-title activator grey-text text-darken-4" style="display: block !important;">Béla</span>

                        <div class="email-and-description"><a class="material-icons email-icon" href="#">mail_outline</a><span class="short-description">Mérnök</span></div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Hegyesi Béla<i class="material-icons right">close</i></span>
                        <p>Kritikus.</p>
                    </div>
                </div>
            </div>
            <div class="card-bracket col s12 m12 l6 xl4 w3-animate-bottom">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator card-img" src="/andras_illyes.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Illyés </span>
                        <span><i class="material-icons right card-title activator grey-text text-darken-4">more_vert</i></span>
                        <span class="card-title activator grey-text text-darken-4" style="display: block !important;">András</span>

                        <div class="email-and-description"><a class="material-icons email-icon" href="#">mail_outline</a><span class="short-description">Mérnök</span></div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Illyés András<i class="material-icons right">close</i></span>
                        <p>Lelkes. Még.</p>
                    </div>
                </div>
            </div>
            <div class="card-bracket col s12 m12 l6 xl4 w3-animate-bottom">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator card-img" src="/barnabas_futo.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Futó </span>
                        <span><i class="material-icons right card-title activator grey-text text-darken-4">more_vert</i></span>
                        <span class="card-title activator grey-text text-darken-4" style="display: block !important;">Barnabás</span>

                        <div class="email-and-description"><a class="material-icons email-icon" href="#">mail_outline</a><span class="short-description">Matematikus</span></div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Futó Barnabás<i class="material-icons right">close</i></span>
                        <p>Kérdez a tojásos sztorijáról.</p>
                    </div>
                </div>
            </div>
            <div class="card-bracket col s12 m12 l6 xl4 w3-animate-bottom">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator card-img" src="/laszlo_bacsardi.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Bacsárdi </span>
                        <span><i class="material-icons right card-title activator grey-text text-darken-4">more_vert</i></span>
                        <span class="card-title activator grey-text text-darken-4" style="display: block !important;">László</span>

                        <div class="email-and-description"><a class="material-icons email-icon" href="#">mail_outline</a><span class="short-description">Informatikus</span></div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Bacsárdi László<i class="material-icons right">close</i></span>
                        <p>Kicsi lesz a hely ezeken a kátyákon.</p>
                    </div>
                </div>
            </div>
            <div class="card-bracket col s12 m12 l6 xl4 w3-animate-bottom">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator card-img" src="/daniel_szendrei.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Szendrei </span>
                        <span><i class="material-icons right card-title activator grey-text text-darken-4">more_vert</i></span>
                        <span class="card-title activator grey-text text-darken-4" style="display: block !important;">Dániel</span>

                        <div class="email-and-description"><a class="material-icons email-icon" href="#">mail_outline</a><span class="short-description">Mérnök</span></div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Szendrei Dániel<i class="material-icons right">close</i></span>
                        <p>Mindenhez egy picit is ért.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>