@import url(https://fonts.googleapis.com/css?family=Montserrat);
html,
body {
    overflow: hidden;
}

/*nav {*/
    /*position: fixed;*/
    /*z-index: 999;*/
    /*color: white;*/
    /*left: 10px;*/
/*}*/

/*nav ul li {*/
    /*margin: 15px 0px;*/
    /*cursor: pointer;*/
/*}*/

.background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    will-change: transform;
    backface-visibility: hidden;
    height: 130vh;
    position: fixed;
    width: 100%;
    transform: translateY(30vh);
    transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

.background:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.background:first-child {
    background-image: url(/front_page_slide01.jpg);
    transform: translateY(-15vh);
}

.background:first-child .content-wrapper {
    transform: translateY(15vh);
}

.background:nth-child(2) {
    background-image: url(/front_page_slide02.jpg);
}

.background:nth-child(3) {
    background-image: url(/front_page_slide03.jpg);
}

.background:nth-child(4) {
    background-image: url(/front_page_slide04.png);
}

.background:nth-child(5) {
    background-image: url(/front_page_slide05.jpg);
}

.background:nth-child(6) {
    background-image: url(/front_page_slide06.jpg);
}

.background:nth-child(7) {
    background-image: url(/front_page_slide07.jpg);
}

.background:nth-child(8) {
    background-image: url(/front_page_slide08.png);
}

/* Set stacking context of slides */
.background:nth-child(1) {
    z-index: 8;
}

.background:nth-child(2) {
    z-index: 7;
}

.background:nth-child(3) {
    z-index: 6;
}

.background:nth-child(4) {
    z-index: 5;
}

.background:nth-child(5) {
    z-index: 4;
}

.background:nth-child(6) {
    z-index: 3;
}

.background:nth-child(7) {
    z-index: 2;
}

.background:nth-child(8) {
    z-index: 1;
}

.content-wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-shadow: 2px 2px 3px black;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: column nowrap;
    color: #fff;
    font-family: Montserrat;
    text-transform: uppercase;
    transform: translateY(40vh);
    will-change: transform;
    backface-visibility: hidden;
    transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
    font-size: 1.6vmax;
}

.content-title {
    font-size: 2.5ch;
    line-height: 1.4;
    margin-top: auto;
}

.background.up-scroll {
    transform: translate3d(0, -15vh, 0);
}

.background.up-scroll .content-wrapper {
    transform: translateY(15vh);
}

.background.up-scroll + .background {
    transform: translate3d(0, 30vh, 0);
}

.background.up-scroll + .background .content-wrapper {
    transform: translateY(30vh);
}

.background.down-scroll {
    transform: translate3d(0, -130vh, 0);
}

.background.down-scroll .content-wrapper {
    transform: translateY(40vh);
}

.background.down-scroll + .background:not(.down-scroll) {
    transform: translate3d(0, -15vh, 0);
}

.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
    transform: translateY(15vh);
}

.navlist {
    color: white;
    border-right: solid #202020 1px;
    line-height: 3ch;
    font-size: 2.5ch;
    padding-top: 2.5ch;
    bottom: auto;
    height: 50%;
    border-bottom: solid #202020 1px;
}

.navlist:hover {
    color: darkgray;
    cursor: pointer;
}

.content-subtitle {

}

#nav-cancel {
    float: right;
    margin: 1.5em;
    z-index: 999;
}

.material-icons:hover {
    color: darkgray;
}

#mant-logo {
    max-width:324px;
    max-height:78px;
    width: auto;
    height: auto;
    opacity: 1;
}

.link-icon {
    color: white;
    opacity: .8;
    padding-top: 2vmin;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: auto;
    padding-bottom: 10vh;
}

.link-icon:hover {
    color: darkgray;
}